<h1>customers</h1>

Add a new customer: <input type="text" name="customerName" ng-model="formData.name">
<button type="submit" ng-click="cc.onCustSubmit()">Submit New User</button>
<p ng-show="cc.error">
    Error in customer account creation!
</p>

<table>
    <thead>
        <th>
            Customer Name
        </th>
        <th>
            Account Created
        </th>
        <th>
            Action
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="c in cc.customers">
            <td>
                {{c.name}}
            </td>
            <td>
                {{c.created_at | date : "mediumDate"}}
            </td>
            <td>
                <!-- <a ng-click="cc.onCustDelete()" href="#/customers/{{c._id}}">Delete</a> -->
                <button ng-click="cc.onCustDelete(c._id)" type="button" name="button"></button>
            </td>
        </tr>
    </tbody>
</table>
